<main>
    <h1>Edit Profile</h1>

    <section class="flex gap-5">

        <form class="w-50" method="post">
            <h2>Change Email</h2>
            <input type="email" placeholder="New email" required />
            <input type="email" placeholder="New email again" required />
            <button type="submit">Save</button>
        </form>

        <form class="w-50" method="post">
            <h2>Change Password</h2>
            <input type="password" placeholder="New password" required />
            <input type="password" placeholder="New password again" required />
            <button type="submit">Save</button>
        </form>

    </section>
</main>