<main>

    <h1>Register</h1>

    <form method="post">

        <input name="username" type="text" placeholder="Username" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="rePassword" type="password" placeholder="Re-password" required>

        <button type="submit">Register</button>

    </form>

</main>