<main>
    <h1>Add Task</h1>
    <form method="post" class="add-task-form">
        <input name="title"
               type="text"
               placeholder="Task title..."
               required
               minlength="5"
               maxlength="145">
        <button type="submit">Add</button>
    </form>
</main>