<main>
    <h1><strong style="color: bisque;">Task:</strong> <span>{{task.title}}</span></h1>
    <p style="text-align: center;">{{task.description}}</p>
    <section style="width: 90%; margin: 25px auto; display:flex; gap:25px; justify-content: center;">
        <a class="btn" href="/tasks/{{task._id}}/edit">Edit</a>
        <a class="btn" href="/tasks/{{task._id}}/delete">Delete</a>
    </section>
</main>