<main>
    <h1><strong style="color: bisque;">Task:</strong> <span>{{task.title}}</span></h1>
    <a class="btn" href="/tasks/{{task._id}}/edit">Edit</a>
    <a class="btn" href="/tasks/{{task._id}}/delete">Delete</a>
</main>