<main>
    <h1>Edit Task</h1>
    <form method="post" >
        <p style="color:darkred;">{{error}}</p>
        <p style="color:darkgreen;">{{success}}</p>
        <input name="title"
               type="text"
               value="{{task.title}}"
               placeholder="Task title...">
        <textarea name="description"
                  cols="30"
                  rows="10"
                  placeholder="Description...">{{task.description}}</textarea>
        <button type="submit">Save</button>
        <a class="btn" href="/tasks" >Cancel</a>
    </form>
</main>