header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header nav a {
    color: #28385b;
    font-size: 21px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
}

header nav a:hover {
    padding: 5px 10px;
    border: 1px solid darkblue;
}

form {
    width: 55vw;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(191, 206, 218, 0.85);
    border-radius: 5px;
    box-shadow: 1px 1px 15px 1px #031d33;
}

form input {
    width: 100%;
    margin: 0 0 21px 0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
}

form button {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #3f598f;
    color: aliceblue;
}

form button:hover {
    background-color: #28385b;
}

.not-found {
    display: flex;
    justify-content: center;
    color: darkred;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid brown;
    background-color: rgba(240, 128, 128, 0.7);
    border-radius: 5px;
    width: 75vw;
    box-shadow: 1px 1px 14px 0 brown;
}

.not-found a {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px double darkblue;
    border-radius: 3px;
    background-color: rgba(27, 106, 197, 0.5);
    color: blue;
}

.not-found a:hover {
    background-color: rgb(40, 56, 91);
    color: aliceblue;
}