<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/scss/style.css">
    <title>NodeJS Second Demo</title>
</head>
<body>

<header>
    <img src="/img/logo.png" alt="LOGO">
    <nav>
        <a href="/">Home</a>
        <a href="/tasks">Tasks List</a>
        <a href="/tasks/add">Add Task</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
        <a href="/auth/logout">Logout</a>
    </nav>
</header>

{{{body}}}

<footer>
    <p>Copyright &copy; 2023 <a href="#">da20shadow</a></p>
</footer>
</body>
</html>